
.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;   
}

input{
    outline: none;
    border-radius: 5px;
    border: 2px solid black;
    height: 40px;
    padding: 5px;
    margin-bottom: 15px;
    
}
input:focus{
    border: 2px solid blue;
    box-shadow: 4px  lightskyblue;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

#login-btn{
    background-color: rgb(80, 71, 71);
    color: white;
    font-weight: bolder;
    margin: 10px;
    height: 40px;
    border-radius: 20px;
    width: 50%;   
}
#login-btn:hover{
    background-color: green;
    color: white;
    font-weight: bolder;
    margin: 10px;  
}
h1{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 40px;
    color: black;
}
/*parcel Delivery Form Styles*/
body{
	font-family: 'Ubuntu', sans-serif;
	background: #EEEEEE;
}



/*End of Parcel Delivery Form Styles*/
